# RouterOS export - edge-router01
/interface bridge
add name=bridge-lan

/ip address
add address=203.0.113.2/30 interface=ether1-wan
add address=10.10.0.1/24 interface=bridge-lan

/ip route
add distance=1 gateway=203.0.113.1

/snmp community
set [ find default=yes ] name=public

/ip service
set telnet disabled=no
set ssh disabled=no
